html{
	height:100%;
	width:100%;
	margin:auto 0;
}

.zone{
	color:black;
	font-size:2em;
	border-radius:4px;
	border:1px solid #bbb;
	transition: all 0.2s linear;
}

.hey{
	display:flex;
	height: 50px;
	justify-content: flex-start;
	align-items: center;
}

a{
	text-decoration: none;
}

a > h1{
	color:black;
	margin:30px;
	font-size: 30px;
	font-family: 'Nothing You Could Do', cursive;
	/*font-family: 'Fredericka the Great', cursive;*/
}

.title{
	margin:0 18%;
	margin-top: 30px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text{
	margin:60px 20%;
}

h1{
	font-family: 'Martel', serif;
	line-height: 1.5;
	font-size: 35px;
	margin:0 30px;
	margin-top:30px;
}

h2{
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #666666;
	margin:20px 30px;
}

h3{
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #666666;
	align-self: flex-end;
	margin-bottom:0px;
	margin-top:30px;
}

img{
	object-fit:cover;
}

p{
	font-size: 18px;
	font-family: 'Martel', serif;
	line-height: 2;
}

.tab {
    display: inline-block;
    margin-left: 60px;
}



@media screen and (max-width: 1250px) {

	.text{
		margin:60px 15%;
	}
	
	.title{
		margin:0px 12%;
		margin-top: 30px;
	}

@media screen and (max-width: 700px) {

	.text{
		margin:60px 10%;
	}
	
	.title{
		margin:10px 8%;
	}

	li{
		margin-right: 1em;
	}

	h1{
		font-size: 30px;
	}

	h2{
		font-size:18px;
	}

	h3{
		font-size:12px;
	}

	p{
		font-size:16px;
	}

	.title img{
		padding:10px;
		object-fit: contain;
	}






