html{
	height:100%;
	width:100%;
	margin:auto 0;
}

.zone{
	color:black;
	font-size:2em;
	border-radius:4px;
	border:1px solid #bbb;
	transition: all 0.2s linear;
}

.hey{
	display:flex;
	height: 50px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	top: 0;
}

a{
	text-decoration: none;
	color:black;
}


a > h1{
	color:black;
	margin:30px;
	font-size: 30px;
	font-family: 'Nothing You Could Do', cursive;
	/*font-family: 'Fredericka the Great', cursive;*/
}


h1{
	font-family: 'Nothing You Could Do', cursive;
	line-height: 1.5;
	font-size: 30px;
}

.push{
	margin-left:auto;
	margin-right:2em;
}

.feed{
	margin-right:auto;
	margin-left: auto;
	margin-top:50px;
	width:60%;
}

.feed-container{
	display: flex;
	flex-direction: row;
}

.box{
	display:flex;
	flex-direction: row;
	padding:20px;
}

.box img{
	height: 125px;
	width: 125px;
	border-radius: 4px;
	object-fit: cover;
}

.title{
	display:flex;
	flex-direction: column;
	height:100%;
	width:100%;
}


.box h3{
	margin-left: 20px;
	margin-top:10px;
	margin-bottom:10px;
	/*padding: auto;*/
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.box h2{
	margin-left:20px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color: #666666;
	font-size:15px;
}

.box h4{
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color:#666666;
	font-size:12px;
	align-self: flex-end;
}

.date{
	margin-top:auto;
	margin-bottom:0px;
}




@media screen and (max-width: 1000px) {

	.feed{
		width:75%;
	}

	.box h3{
		font-size: 18px;
	}

	.box h2{
		font-size: 15px;
	}

	.box h4{
		font-size: 12px;
	}
}

@media screen and (max-width: 750px) {

	.feed{
		width:85%;
	}

	.box h3{
		font-size: 16px;
	}

	.box h2{
		font-size: 12px;
	}

	.box h4{
		font-size: 10px;
	}

	.push{
		margin:0;
		font-size: 25px;
		margin-left:auto;
		margin-right:1em;
	}

	a > h1{
		margin:0;
		margin-left:1em;
		font-size: 25px;
	}

}






